# XRAY / Jira
JIRA_BASE_URL=https://portail.agir.orange.com
JIRA_TOKEN=VOTRE_TOKEN_ICI

# XRAY environment default
XRAY_ENV=XITG

# Confluence
CONFLUENCE_BASE_URL=https://espace.agir.orange.com
CONFLUENCE_SPACE=OAGTMA
CONFLUENCE_PAGE_ID=3168392364
CONFLUENCE_TOKEN=VOTRE_TOKEN_CONFLUENCE_ICI

# Dynatrace
DYNATRACE_BASE_URL=https://<votre-tenant>.live.dynatrace.com
DYNATRACE_TOKEN=VOTRE_TOKEN_DYNATRACE_ICI
# Option 1: tags explicites par environnement
DYNATRACE_TAG_XITG=
DYNATRACE_TAG_XMQ1=
# Option 2: tag par défaut (ex: env:{env})
DYNATRACE_TAG_DEFAULT=

# Proxy (si requis)
PROXY_USER=
PROXY_PASS=
PROXY_HOST=proxy.si.francetelecom.fr:8080
